asn1crypto==0.24.0
certifi==2019.6.16
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
mercurial==4.5.3
numpy==1.13.3
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.26.1
pyTelegramBotAPI==3.6.6
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
six==1.12.0
telebot==0.0.3
urllib3==1.25.3
vk-api==11.5.0
